@model AddCustomerFormModel



<form method="post">
    <h5 class="text-center">Add New Customer</h5>
    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Company Name</span>
        </div>
      
        <input asp-for="Name" class="form-control" placeholder="Customer Name" aria-label="Name" aria-describedby="addon-wrapping">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">EIK</span>
        </div>
       
        <input asp-for="EIK" class="form-control" placeholder="Eik" aria-label="EIK" aria-describedby="addon-wrapping">
        <span asp-validation-for="EIK" class="small text-danger"></span> 
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">VAT</span>
        </div>
       
        <input asp-for="VAT" class="form-control" placeholder="Vat" aria-label="VAT" aria-describedby="addon-wrapping">
        <span asp-validation-for="VAT" class="small text-danger"></span>
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Country</span>
        </div>
       
        <input asp-for="Country" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="addon-wrapping">
        <span asp-validation-for="Country" class="small text-danger"></span>
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">City</span>
        </div>
        
        <input asp-for="City" class="form-control" placeholder="City" aria-label="City" aria-describedby="addon-wrapping">
        <span asp-validation-for="City" class="small text-danger"></span> 
    </div>
    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Street</span>
        </div>
       
        <input asp-for="Street" class="form-control" placeholder="Street" aria-label="Address" aria-describedby="addon-wrapping">
        <span asp-validation-for="Street" class="small text-danger"></span> 
    </div>
    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Representative person</span>
        </div>
      
        <input asp-for="RepresentativePerson" class="form-control" placeholder="Manager" aria-describedby="addon-wrapping">
        <span asp-validation-for="RepresentativePerson" class="small text-danger"></span>
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Email</span>
        </div>
       
        <input asp-for="Email" class="form-control" placeholder="Email" aria-describedby="addon-wrapping">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>

    <div class="input-group flex-nowrap offset-3 mb-2 col-md-6">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Phone</span>
        </div>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Telephone Number" aria-describedby="addon-wrapping" />
        <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
