<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSMO</title>
    <link href="~/business.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SSMO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li>

                                <div class="dropdown ">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        MyCompany
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-area="" asp-controller="MyCompany" asp-action="Register">Register</a>
                                             <a class="dropdown-item" asp-area="" asp-controller="MyCompany" asp-action="EditCompany">Edit</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="MyCompany" asp-action="AddBank">Add Bank</a>

                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>

   
         <div class="row">
        <div class="col-3 border-right-0 ml-sm-n1">
            <aside class="navbar" style="display:flex;flex-direction: column;order: 1;">
               <partial name="_SideLayout" />
            </aside>
        </div>
        <div class="col-9 align-content-between mb-0 pr-sm-1 border-left-0 border-right-0">
            
                <main role="main" class="pb-9 mb-1">
                    @RenderBody()
                </main>
           
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
             <small className="text-center mt-5 mb-0 footer-copyright">
                 <a href="" mailto="nushy_al@yahoo.com">
                      &copy; Temenuzhka Zgurova, 2022 All rights reserved.
                 </a>
         
        </small>
       
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
