
@if (this.User.Identity.IsAuthenticated)
{
    <div class="container">
        <main role="main" class="pb-3">
            <div id="wrapper">
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Documents
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CustomerOrderToInvoice">Invoice</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="ChoosePackingListForPrint">Packing list</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="ChooseBgInvoice"> Bg Invoice</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateOrder">Debit Note</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateCreditNote">Credit Note</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="AddPurchase">Purchase</a>
                            </div>
                        </div>
                    </li>
                   
                     <li class="nav-item active">
                        <a href="~/CustomerOrders/AddCustomerOrder" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>New Customer Order</span>
                        </a>
                    </li>

                    
                    <li class="nav-item active">
                        <a href="~/SupplierOrders/AddSupplierConfirmation" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>New Supplier Specification</span>
                        </a>
                    </li>
                     
                    <li class="nav-item active">
                        <a href="~/ServiceOrders/AddServiceOrder" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Transport Order</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Descriptions/Add" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Description</span>
                        </a>
                    </li>

                     <li class="nav-item active">
                        <a href="~/Descriptions/AddSize" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Size</span>
                        </a>
                    </li>
                           <li class="nav-item active">
                        <a href="~/Descriptions/AddGrade" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Grade</span>
                        </a>
                    </li>

                    <li class="nav-item active mb-1">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Customers
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Add">Add New Customer</a>
                                  <a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Edit">Edit Customer</a>
                            </div>
                        </div>
                    </li>
                
                         <li class="nav-item active">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Suppliers
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="AddSupplier">Add New Supplier</a>
                                  <a class="dropdown-item" asp-area="" asp-controller="Suppliers" asp-action="EditSupplier">Edit Supplier</a>
                            </div>
                        </div>
                    </li>

                    <!-- Heading -->
                    <div class="sidebar-heading text-capitalize">
                        <br />
                        <h3>Reports</h3>
                        <br />
                    </div>
                     <li>
                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Payment Reports
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="InvoicePaymentReport">Invoice</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="PurchasePaymentReport">Purchase</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="CustomerOrdersPaymentReport">Customer Order</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="SupplierOrdersPaymentReport">Supplier Order</a>
                            </div>
                        </div>
                     </li>
                     <li class="nav-item active">
                         <a href="~/Reports/AllInvoices" class="nav-link">
                             <i class="fas fa-fw fa-tachometer-alt"></i>
                             <span>Invoices Report</span>
                         </a>

                     </li>

                     <li class="nav-item active">
                        <a href="~/Reports/AllCustomerOrders" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Customer Orders Report</span>
                        </a>
                     </li>

                     <li class="nav-item active">
                        <a href="~/Reports/CustomerOrdersBySupplier" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Customer Orders by Supplier</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="~/Reports/AllPurchases" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                           <span>Purchase Invoices Reports</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Reports/AllSupplierOrders" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Supplier Orders Reports</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Reports/ProductsOnStock" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Products On Stock</span>
                        </a>
                    </li>

                </ul>

            </div>
        </main>

    </div>

}





