
@if (this.User.Identity.IsAuthenticated)
{
    <div class="container">
        <main role="main" class="pb-3">
            <div id="wrapper">
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                    <li>

                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Documents
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateInvoice">Invoice</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateProforma">Packing list</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateOrder">Debit Note</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="CreateCreditNote">Credit Note</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Documents" asp-action="AddPurchase">Add Purchase</a>
                            </div>
                        </div>
                    </li>
                     <li class="nav-item active">
                        <a href="~/CustomerOrders/AddCustomerOrder" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>New Customer Order</span>
                        </a>
                    </li>

                    
                    <li class="nav-item active">
                        <a href="~/SupplierOrders/AddSupplierConfirmation" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>New Supplier Specification</span>
                        </a>
                    </li>
@*
                       <li class="nav-item active">
                        <a href="~/Documents/AddPurchase" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Purchase</span>
                        </a>
                    </li>*@

                    <li class="nav-item active">
                        <a href="~/Descriptions/Add" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Description</span>
                        </a>
                    </li>

                     <li class="nav-item active">
                        <a href="~/Descriptions/AddSize" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Size</span>
                        </a>
                    </li>
                           <li class="nav-item active">
                        <a href="~/Descriptions/AddGrade" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Product Grade</span>
                        </a>
                    </li>


                    <li class="nav-item active">
                        <a href="~/Customers/Add" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Customer</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Suppliers/AddSupplier" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Add Supplier</span>
                        </a>
                    </li>

                   

                    <!-- Heading -->
                    <div class="sidebar-heading text-capitalize">
                        <br />
                        Reports
                        <br />
                    </div>

                    <li class="nav-item active">
                        <a href="~/Reports/AllCustomerOrders" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Customer Orders Report</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Customers/Add" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Supplier Purchases Reports</span>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="~/Reports/ReportProducts" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Products Avaialbility</span>
                        </a>
                    </li>

                </ul>

            </div>
        </main>

    </div>

}





