@model EditInvoiceViewModel
@{
    ViewBag.Title = "Invoice for edit";
}
<form method="post">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="OrderConfirmationNumber"></label>
            <select asp-for="OrderConfirmationNumber" class="form-control">
            <option value="">All</option>
                @foreach (var order in Model.OrderConfirmationNumbers)
                {
                    <option value="@order">@order</option>
                }

            </select>
        </div>
    </div>

    <div class="row col-md-4">
        <label asp-for="Date">Date of the Invoice</label>
        <input asp-for="Date" type="date" class="form-control" id="datepicker" >
    </div>
     <div class="row col-md-4">
        <label asp-for="TruckNumber">Truck Number</label>
        <input asp-for="TruckNumber" type="text" class="form-control">
    </div>

     <div class="row col-md-4">
        <label asp-for="NetWeight">Net Weight</label>
        <input asp-for="NetWeight" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="GrossWeight">Gross Weight</label>
        <input asp-for="GrossWeight" type="text" class="form-control">
    </div>
       <div class="row col-md-4">
        <label asp-for="DeliveryCost">Delivery Cost</label>
        <input asp-for="DeliveryCost" type="text" class="form-control">
    </div>
    
    <div class="row col-md-4">
        <label asp-for="CurrencyExchangeRate">Currency Exchange Rate to BGN</label>
        <input asp-for="CurrencyExchangeRate" type="number"  min="0.00000" step="0.00001" class="form-control" >
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

    
        <script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}